<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    <h2>Id = <span th:text="${order.id}"></span></h2>
    <h2>Order_date = <span th:text="${order.order_date}"></span></h2>
    <h2>Shipped_date = @<span th:text="${order.shipped_date}"></span></h2>
    <h3>Status = <span th:text="${order.status}"></span></h3>
    <h3>Comments = <span th:text="${order.comments}"></span></h3>
    <h3>Customer_id = <span th:text="${order.customer_id}"></span></h3>
</h1>
</body>
</html>